.listingContainer {
    background-color: rgb(37, 50, 65);
  
    .topHeading {
      padding: 30px 9%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .heading {
        h1 {
          color: #fff;
          font-size: 44px;
          font-family: "poppins";
          letter-spacing: 1px;
  
          span {
            color: rgb(208, 24, 24);
          }
        }
  
        p {
          color: #fff;
          font-size: small;
        }
      }
  
      .shifticons {
        display: flex;
        align-items: center;
        gap: 20px;
        color: #fff;
  
        svg {
          cursor: pointer;
          font-size: 24px;
          &:hover {
            color: rgb(208, 24, 24);
          }
        }
      }
    }
  
    .listingCards {
      overflow: auto;
      scrollbar-width: none;
      width: 100%;
  
      .cardsWrapper {
        display: flex;
        transition: transform 0.5s ease;
        gap: 20px;
        padding: 0 15px;
      }
    }
  
    .allListing {
      padding: 40px 45%;
      padding-bottom: 60px;
  
      button {
        width: 150px;
        height: 40px;
        color: #fff;
        cursor: pointer;
        border: none;
        background: linear-gradient(45deg, rgb(208, 24, 24) 50%, rgb(37, 50, 65) 50%);
        background-size: 300% 150%;
        background-position: left bottom;
        transition: background-position 0.2s ease-out;
      }
  
      button:hover {
        background-position: right bottom;
      }
    }
  }
  